<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card
            Id="1"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIXpWe6SY5ZOS-mqaaDYKXalotc2dHwL7W2Q&usqp=CAU"
            cardTitle="NOVA FASE DA MARVEL SERÁ MELHOR QUE A PRIMEIRA ?"
            cardDescription="Marvel anuncia o inicio da fase 2 do UCM"
            >
        </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card
            Id="2"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9bJelbFXDL4HJaraLvnIopAAf7OSoZychIg&usqp=CAU"
            cardTitle="NOVO FILME ANUNCIADO"
            >
        </app-small-card>
        <app-small-card
            Id="3"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd28nVx6dFumOSPCQhrtgj93iRHqEN-phqoqG5zR2wf5U-DrtqzukCtfFaoGrCm8LmkJw&usqp=CAU"
            cardTitle="VEM AÍ, INVASÃO SECRETA !"
            >
        </app-small-card>
        <app-small-card
            Id="4"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUoETgIGICc1yXMGJF00F4RvfQM38z82T50w&usqp=CAU"
            cardTitle="QUANDO COMEÇA A FASE 6 DA MARVEL?"
            >
        </app-small-card>
    </div>
</div>
