<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIXpWe6SY5ZOS-mqaaDYKXalotc2dHwL7W2Q&usqp=CAU"
            cardTitle="NOVA FASE DA MARVEL SERÁ MELHOR QUE A PRIMEIRA ?"
            cardDescription="Marvel anuncia o inicio da fase 2 do UCM"
            >
        </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>
